@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");

#canvas {
    width:640px;
    height:400px;
}

#frame {
    width:640px;
    height:400px;
}

*:not(input):not(textarea) {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    touch-action: none;
    -webkit-text-size-adjust: none
}

#background {
    background-image:url('/assets/images/LeftPanel_wide.svg');
}

#axCanvas {
    height: calc((100vw - 260px) / 1.6);
    width: calc(100vw - 260px);
}

.orientation-notice {
    background: #110000;
}

@media screen and (orientation:portrait) {
    .orientation-notice {
        display: flex;
    }
}

@media only screen and (min-width: 1025px) {
    #axCanvas {
        height: calc((100vw - 360px) / 1.6);
        width: calc(100vw - 360px);
    }
}

@media only screen and (min-width: 1200px) {
    #axCanvas {
        height: calc((100vw - 520px) / 1.6);
        width: calc(100vw - 520px);
    }
}

@media only screen and (min-width: 1400px) {
    #axCanvas {
        height: calc((100vw - 820px) / 1.6);
        width: calc(100vw - 820px);
    }
}
